<!--List of all projects that have been accepted by the worker-->
<!doctype html>
<html lang ="en-US">
<html>

<head>
<!--The title attribute is the text displayed in the browsers tab-->
<title>Accepted Projects</title>
<meta charset = "UTF-8">
</head>
<body>
<p style ="color:blue;font-family:verdana;"> This will be a List of all projects that have been accepted by the worker</P>
<br/>
<a href = "login.html">
<img src="C:/Users/The Captain/Documents/University/2017 Semester 2/ELEC3609 - Internet Platforms/IPProject/Images/CatLogo.jpg" width = "260" height = "200" alt = "This is a button">
</a>
</body>