
{% block body %}
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Contents:</h4>
      <ul class="nav nav-pills nav-stacked">
        <p><a href="#L1">About Us...</a></p>
        <p><a href="#L2">As a Client</a></p>
        <p><a href="#L3">As a Worker</a></p>
        <p><a href="#L4">Contact</a></p>
      </ul><br>

    </div>

    <div class="col-sm-9">
      <h2 id="L1">About Us...</h2>
      <h5><span class="label label-danger">What we do</span></h5><br>
      <p>
        There are people who don’t know how to code and may be looking for someone who does. Conversely, there are people who know how to code, and may be looking for opportunities to put their coding expertise to good use, and for money! <br>
        Our goal is to create an environment that brings people with these coinciding goals together.<br><br>
        Who is FreeAgent for?<br>
        Everyone! Whether you know how to code or are looking for a coder, FreeAgent is the place for you!<br>
        We simply provide a place where these two types of people can meet for their ideal exchange.

      </p>
      <br><br>
      <hr>
      <br><br>
      <h2 id="L2">As a Client</h2>
      <h5><span class="label label-primary">Outsourcing coders</span></h5><br>
      <p>
        Are you an aspiring entrepreneur and need code written?<br>
        Here at FreeAgent, you can make strategic partnerships with coders and bring your big ideas to life!<br>

      </p>
      <br><br>
      <hr>
      <br><br>
      <h2 id="L3">As a Worker</h2>
      <h5><span class="label label-success">Getting paid to code</span></h5><br>
      <p>
        Do you enjoy coding and want to get paid doing it?<br>
        By joining FreeAgent, you are exposing yourself to great opporotunities to network with businessmen and other coders.<br>
        You could put your technical skills to good use, all the while gettting paid to do so!<br>

      </p>
            <br><br>
      <hr>
      <br><br>
      <h2 id="L4">Contact</h2>
      <h5><span class="label label-warning">For enquiries</span></h5><br>
      <p>
        enquiries@FreeAgent.com<br>
        www.FreeAgent.com
      </p>

    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>Come to the dark side........ ;)</p>
</footer>

{% endblock %}

<!--</body>-->
<!--</html>-->