{% extends 'freeAgentApp/base.html' %}
{% block title %} Project Detail {% endblock %}

{% block body %}
<div class="page-header">
    <div class="container"><h3>Project Details</h3></div>
</div>
<div class="jumbotron">
    <div class="container">
        <h6> Title: {{project.title}}</h6>
        <!--<input type="text" placeholder="{{project.title}}">-->
        <h6> Cost: {{project.cost}}</h6>
        <h6> Status:
            {% if project.status == 1 %} New Project

            {% elif project.status == 2 %} Applied

            {% elif project.status == 3 %} Working

            {% elif project.status == 4 %} Completed

            {% endif %}
        </h6>
        <h6> Description: {{project.description}}</h6>
        <h6> Posted Date: {{project.pub_date}}</h6>
        <h6> Worker: {{project.worker }}</h6>
        <h6> Client: {{ project.client }}</h6>
        {% if user.Identification == 'C' %}
            {% if project.status == 2 %}
                <form action="{% url 'freeAgentApp:addWorker'  %}" method="post" style=" display: inline;">
                    {%csrf_token%}
                    <input  name = "project.id" type="hidden" value="{{project.id }}" />
                    <button type="submit" name ="Accept" class="btn btn-default btn-sm"> Accept Worker</button>

                    <button type="submit" name ="Refuse" class="btn btn-default btn-sm"> Refuse Worker</button>
                </form>
            {% elif project.status == 3%}
                <h6>
                    Client's Work:
                    {{ client_upload }}
                </h6>
                <form action="{% url 'freeAgentApp:addWorker'  %}" method="post" style=" display: inline">
                    {%csrf_token%}
                    <input  name = "project.id" type="hidden" value="{{project.id }}" />
                    <button type="submit" name ="ConfirmWork" class="btn btn-default btn-sm"> Confirm Work</button>
                </form>
            {% endif %}
        {% endif %}
        {% if user.Identification == 'F' %}
            {% if project.status == 3 %}
                <h6>
                    Client's Work:
                    {{ client_upload }}
                    <input type="file" style=""/>
                </h6>
                <form action="{% url 'freeAgentApp:addWorker'  %}" method="post" style=" display: inline">
                    {%csrf_token%}
                    <input  name = "project.id" type="hidden" value="{{project.id }}" />
                    <button type="submit" name ="UploadWork" class="btn btn-default btn-sm"> Upload Work</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}
