{% extends 'freeAgentApp/base.html' %}
{% block title %} Project Detail {% endblock %}

{% block body %}
<div class="page-header">
    <div class="container"><h3>Update Project Details</h3></div>
</div>
<div class="jumbotron">
    <div class="container">

        <h6> Title: {{project.title}}</h6>
        <!--<input type="text" placeholder="{{project.title}}">-->
        <h6> Cost: {{project.cost}}</h6>
        <h6> status: {{project.status}}</h6>
        <h6> Description: {{project.description}}</h6>
        <h6> Posted Date: {{project.pub_date}}</h6>
        <h6> Worker: {{project.worker }}</h6>
    </div>
</div>

{% endblock %}