{% extends 'freeAgentApp/login_base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col m6">
            <h2 class="center-align">Login</h2>
        </div>
        <img src="../../static/freeAgentApp/images/CatLogo.jpg" alt="logo" height="200" align="middle|top"/>
        <form action="" method="post" style="vertical-align:middle">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.errors }}
            <br/>
            {{ form.password.label_tag }}
            {{ form.password }}
            {{ form.errors }}
            <br/>
            <input type="submit" value="submit" style="vertical-align:middle">
        </form>
        <a href="{% url 'freeAgentApp:register' %}" style="vertical-align:middle"><p>Register</p></a>
    </div>
</div>
{% endblock %}