{% extends 'freeAgentApp/login_base.html' %}
 {% block body %}
    <img src="../../static/freeAgentApp/images/CatLogo.jpg" alt="logo" height="200" align = "middle|top"/>
    <form action="" method="post" style = "vertical-align:middle">
        {% csrf_token %}
        {{ form.username.label_tag }}
        {{ form.username }}
        <br/>
        {{ form.password.label_tag }}
        {{ form.password }}
        {{ form.non_field_errors  }}
        <br/>
        <input type="submit" value="submit" style = "vertical-align:middle">
    </form>
    <a href="{% url 'freeAgentApp:register' %}" style = "vertical-align:middle"><p>Register</p></a>
{% endblock %}